@keyframes movein {
    0% {
        position: relative;
        left: 20px;
        opacity: 0%;
    }
    100%{
        position: relative;
        left: 0px;
        opacity: 100%;
    }
}
@keyframes moveout {

    0%{
        position: relative;
        left: 0px;
        opacity: 100%;
    }
    100% {
        position: relative;
        left: 20px;
        opacity: 0%;
    }
}
.swipe-in{
    animation : movein 1s
}
.swipe-out{
      animation : moveout 1s
}

.zoom-in{
    transition: 0.2s;
    border: none;
}
.zoom-in:hover{
    transform: scale(1.03);
    border: 1px solid rgba(128, 128, 128, 0.314);
}