.b-0 {
  border: 0px solid;
  outline: none;
}
.b-1{
   border: 1px solid;
}
.b-1-gray{
   border: 1px solid rgb(190, 189, 189);
}
.bb-1{
 border-bottom: 1px solid;
}

.bt-1{
 border-top: 1px solid rgb(190, 189, 189);
}

.br-50p {
  border-radius: 50%;
}

.br-10{
  border-radius: 10px;
}
.br-15{
  border-radius: 15px;
}
.br-20{
  border-radius: 20px;
}
.br-25{
  border-radius: 25px;
}
.br-30{
  border-radius: 30px;
}
.br-35{
  border-radius: 35px;
}
.br-40{
  border-radius: 40px;
}
.br-45{
  border-radius: 45px;
}
.br-50{
  border-radius: 50px;
}
.br-55{
  border-radius: 55px;
}
.br-60{
  border-radius: 60px;
}
.br-65{
  border-radius: 65px;
}
.br-70{
  border-radius: 70px;
}