.green {
    background-color: rgb(132, 176, 132);
}
.bg-pink{
    background-color: pink;
}
.bg-white{
    background-color: white;
}
.bg-grey-primary{
    background-color:  rgb(241, 241, 241);;
}
.bg-grey{
    background-color: rgb(239, 239, 239);
}
.bg-grey-secondary{
    background-color: rgb(226, 225, 225);
}
.bg-grey-500{
    background-color: rgb(118, 118, 118);
}
.bg-grey-1{
    background-color: #F2F4F4;
}
.bg-grey-2{
    background-color: #E5E8E8;
}
.bg-grey-3{
    background-color: #CCD1D1;
}
.bg-grey-4{
    background-color: #B2BABB;
}
.bg-grey-5{
    background-color: #99A3A4;
}

.hover-grey-2:hover{
    background-color: #E5E8E8;
}

.bg-blue-1{
    background-color: #EBF5FB;
}
.bg-blue-2{
    background-color: #D6EAF8;
}
.bg-blue-3{
    background-color: #AED6F1;
}
.bg-blue-4{
    background-color: #85C1E9;
}
.bg-blue-5{
    background-color: #5DADE2;
}
.bg-blue-6{
    background-color: #3498DB;
}
.bg-blue-7{
    background-color: #2E86C1;
}
.bg-blue-8{
    background-color: #2874A6;
}
.bg-hover-blue-1:hover{
    background-color: #EBF5FB;
}
.bg-hover-blue-2:hover{
    background-color: #D6EAF8;
}
.bg-hover-blue-3:hover{
    background-color: #AED6F1;
}
.bg-hover-blue-4:hover{
    background-color: #85C1E9;
}
.bg-hover-blue-5:hover{
    background-color: #5DADE2;
}
.bg-hover-blue-6:hover{
    background-color: #3498DB;
}
.bg-hover-blue-7:hover{
    background-color: #2E86C1;
}
.bg-hover-blue-8:hover{
    background-color: #2874A6;
}
.bg-green-1{
    background-color:#eafaf1 ;
}
.bg-green-2{
    background-color: #d5f5e3;
}
.bg-green-3{
    background-color: #abebc6;
}
.bg-green-4{
    background-color: #82e0aa;
}
.bg-green-5{
    background-color: #58d68d;
}
.bg-green-6{
    background-color: #2ecc71;
}
.bg-green-7{
    background-color:#28b463 ;
}
.bg-green-8{
    background-color: #239b56;
}
.bg-green-9{
    background-color: #1d8348;
}
.bg-green-10{
    background-color: #186a3b;
}

.bg-red-1{
    background-color: #fbeee6;
}
.bg-red-2{
    background-color: #f6ddcc;
}
.bg-red-3{
    background-color: #edbb99;
}
.bg-red-4{
    background-color: #e59866;
}
.bg-red-5{
    background-color:#dc7633 ;
}
.bg-red-6{
    background-color: #d35400;
}
.bg-red-7{
    background-color:#ba4a00 ;
}
.bg-red-8{
    background-color: #a04000;
}
.bg-red-9{
    background-color: #873600;
}
.bg-red-10{
    background-color:#6e2c00 ;
}

.c-neutral{
    color: white;
}

.c-red{
    color: red;
}
.c-green{
    color: #2ECC71
}