.w-fitContent{
    width: fit-content;
}
.w-10{
    width: 10px
}
.w-15{
    width: 15px;
}
.w-20{
    width: 20px
}
.w-25{
    width: 25px
}
.w-30{
    width: 30px;
}
.w-35{
    width: 35px
}
.w-40{
    width: 40px;
}
.w-45{
    width: 45px
}
.w-50 {
    width: 50px;
}
.w-55{
    width: 55px;
}
.w-60{
    width: 60px
}
.w-65{
    width: 65px
}
.w-70{
    width: 70px;
}
.w-75{
    width: 75px
}
.w-80{
    width: 80px;
}
.w-85{
    width: 85px
}
.w-90{
    width: 90px;
}
.w-95{
    width: 95px
}
.w-100 {
    width: 100px;
}
.w-150 {
    width: 150px;
}
.w-200{
    width: 200px;
}
.w-250 {
    width: 250px;
}
.w-300 {
    width: 300px;
}
.w-320 {
    width: 320px;
}
.w-350 {
    width: 350px;
}
.w-400 {
    width: 400px;
}
.w-450 {
    width: 450px;
}
.w-500 {
    width: 500px;
}
.w-550 {
    width: 550px;
}
.w-600 {
    width: 600px;
}
.w-650 {
    width: 650px;
}
.w-700{
    width: 700px;
}
.w-750 {
    width: 750px;
}
.w-800 {
    max-width: 800px;
}
.w-820 {
    width: 820px;
}
.w-850 {
    width: 850px;
}
.w-900 {
    width: 900px;
}
.w-950 {
    width: 950px;
}
.w-1000 {
    width: 1000px;
}
.w-1050 {
    width: 1050px;
}

//========== width in %

.w-100p{
    width: 100%;
}

//=========== width in vw

.w-10vw {
    width: 10vw 
}
.w-15vw {
    width: 15vw ;
}
.w-20vw {
    width: 20vw 
}
.w-25vw {
    width: 25vw 
}
.w-30vw {
    width: 30vw ;
}
.w-35vw {
    width: 35vw 
}
.w-40vw {
    width: 40vw ;
}
.w-45vw {
    width: 45vw 
}
.w-50 vw {
    width: 50vw ;
}
.w-55vw {
    width: 55vw ;
}
.w-60vw {
    width: 60vw 
}
.w-65vw {
    width: 65vw 
}
.w-70vw {
    width: 70vw ;
}
.w-75vw {
    width: 75vw 
}
.w-80vw {
    width: 80vw ;
}
.w-85vw {
    width: 85vw 
}
.w-90vw {
    width: 90vw ;
}
.w-95vw {
    width: 95vw 
}
.w-100vw {
    width: 100vw ;
}
//========= height in px

.h-10{
    height: 10px
}
.h-15{
    height: 15px;
}
.h-20{
    height: 20px
}
.h-25{
    height: 25px
}
.h-30{
    height: 30px;
}
.h-35{
    height: 35px
}
.h-40{
    height: 40px;
}
.h-45{
    height: 45px
}
.h-50 {
    height: 50px;
}
.h-55{
    height: 55px;
}
.h-60{
    height: 60px
}
.h-65{
    height: 65px
}
.h-70{
    height: 70px;
}
.h-75{
    height: 75px
}
.h-80{
    height: 80px;
}
.h-85{
    height: 85px
}
.h-90{
    height: 90px;
}
.h-95{
    width: 95px
}
.h-100 {
    height: 100px;
}
.h-150 {
    height: 150px;
}
.h-200{
    height: 200px;
}
.h-250 {
    height: 250px;
}
.h-300 {
    height: 300px;
}
.h-320 {
    height: 320px;
}
.h-350 {
    height: 350px;
}
.max-h-350 {
    max-height: 350px;
}
.h-400 {
    height: 400px;
}
.h-450 {
    height: 450px;
}
.h-500 {
    height: 500px;
}
.h-550 {
    height: 550px;
}
.h-600 {
    height: 600px;
}
.h-650 {
    height: 650px;
}
.h-700{
    height: 700px;
}
.h-750 {
    height: 750px;
}
.h-800 {
    height: 800px;
}
.h-820 {
    height: 820px;
}
.h-850 {
    height: 850px;
}
.h-900 {
    height: 900px;
}
.h-950 {
    height: 950px;
}
.h-1000 {
    height: 1000px;
}
.h-1050 {
    height: 1050px;
}

//========== height in %

.h-100p{
    height: 100%;
}

//========== height in vh

.h-10vh{
    height: 10vh
}
.h-15vh{
    height: 15vh;
}
.h-20vh{
    height: 20vh
}
.h-25vh{
    height: 25vh
}
.h-30vh{
    height: 30vh;
}
.h-35vh{
    height: 35vh
}
.h-40vh{
    height: 40vh;
}
.h-45vh{
    height: 45vh
}
.h-50 vh{
    height: 50vh;
}
.h-55vh{
    height: 55vh;
}
.h-60vh{
    height: 60vh
}
.h-65vh{
    height: 65vh
}
.h-70vh{
    height: 70vh;
}
.h-75vh{
    height: 75vh
}
.h-80vh{
    height: 80vh;
}
.h-85vh{
    height: 85vh
}
.h-90vh{
    height: 90vh;
}
.h-95vh{
    width: 95vh
}
.h-100vh {
    height: 100vh;
}