.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-17{
    font-size: 17px;
}
.fs-18{
    font-size: 18px;
}
.fs-19{
    font-size: 19px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-28{
    font-size: 28px;
}
.fs-32{
    font-size: 32px;
}
.fs-34{
    font-size: 34px;
}
.fs-36{
    font-size: 36px;
}
.fs-40{
    font-size: 40px;
}


//----
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}

//----
.td-none{
    text-decoration: none;
}
.td-ul{
    text-decoration: underline;
}
.td-dash{
    text-decoration:dashed;
}
.td-dotted{
    text-decoration:dotted;
}
.td-lt{
    text-decoration:line-through;
}
//----
.tt-cap{
    text-transform: capitalize;
}
.tt-upp{
    text-transform: uppercase;
}
