.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.grid-6{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.grid-7{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.grid-8{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.grid-9{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}

.grid-10{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}


.row-gap-5{
    row-gap: 5px;
}